.root {
  background: var(--background);
  padding: 5px;
  box-shadow: var(--shadow-smallest);
  border-radius: 8px;
  transition: ease 0.2s box-shadow;
}

.root:hover {
  box-shadow: var(--shadow-medium);
}

.input {
  flex: 1 1 0%;
  margin-left: 8px;
  margin-right: 8px;
}

.poster {
  width: 100%;
}

.heading {
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  color: var(--accents-7);
  text-align: center;
  margin-top: 1rem;
}

.navContainer {
  overflow-x: auto;
  white-space: nowrap;
}

.link {
  margin: 0 8px;
  color: var(--accents-7);
  text-decoration: none;
  border: 1px solid var(--accents-7);
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: var(--accents-7);
  color: var(--background);
}

@media (max-width: 800px) {
  .poster {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center links */
  }

  .link {
    margin: 8px 0; /* Add vertical margin for spacing */
    width: 100%; /* Full width for better touch targets */
    text-align: center; /* Center text */
  }

  .input {
    padding: 5px;
  }
}

.modal {
  background: var(--background);
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  margin: auto;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal li {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.modal li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .modal {
    padding: 10px;
  }
}

.expandToggle {
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 1em;
  user-select: none;
}

.additionalContent {
  margin-top: 1em;
  transition: max-height 0.3s ease-in-out;
}
